@import "../assets/color.scss";

$max-width: 1132px;

// slider css
.slider {
  img {
    display: block;
    width: 100%;
    min-width: 100%;
    height: auto;
  }
}

// display css
.display-section {
  margin-top: 59px;
  text-align: center;

  .sec-tit {
    margin-bottom: 30px;
  }

  .desc {
    font-family: "PT Serif";
    color: $text-color;
    line-height: 1.9;
    word-break: keep-all;
  }
}

// promotion css
.promotion-section {
  margin-top: 68px;

  .promo-list {
    li {
      margin-top: 52px;
      text-align: center;

      &:first-child {
        margin-top: 0;
      }
      
      a {
        display: block;
        width: 275px;
        height: 180px;
        margin: 0 auto;

        img {
          max-width: 275px;
          height: 100%;
        }
      }

      h3 {
        margin: 29px 0 20px 0;
        color: $main-color;
        font-size: 1.5rem;
      }

      p {
        font-size: 14px;
        font-family: "PT Serif";
        color: $text-color;
        line-height: 1.5;
        word-break: keep-all;
      }
    }
  }
}


@media all and (min-width: 768px) {
  // display css
  .display-section {
    margin-top: 95px;
  }

  // promotion css
  .promotion-section {
    .promo-list {
      li {
        width: 23.674912%; // 268px ÷ 1132px
        margin-left: 1.766784%; // 20px ÷ 1132px
      }
    }
  }
}